.mainDiv {
    background-color: #232323;
    height: 600px;
}

.imgDiv {
    padding-top: 30px;
}

.originalImg {
    width: 350px;
    height: 420px;
}

.HomeDiv {
    padding: 20px 0 0 140px;
    display: flex;
}

.text {
    color: white;
}

.textDiv {
    // padding: 60px 0 0 30px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 30px;
}

.textSummary{
    max-width: 70%;
}

.ratingDiv{
    padding-top: 10px;
}